<launch>
<param name="/use_sim_time" value="true" />

<!-- <node pkg="turtlebot_gazebo" name="interface_node" type="interface.py" /> -->

<!-- start world -->
<node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find turtlebot_gazebo)/worlds/empty.world" respawn="false" output="screen" />

<!-- include our robots -->
<include file="$(find turtlebot_gazebo)/multirrobot-pattern-shaping/launch/robots.launch"/>

 
</launch>